header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 111;
    width: 100%;
    .header-main {
        height: 136px;
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,0);
        box-shadow: inset 0 0 0 0 $grey-100;
        z-index: 11;
        position: relative;
        @include media('desk') {
            height: 120px;
        }
        @include media('tab-mid') {
            height: 96px;
        }
        .container {
            width: 100%;
        }
    }
    .header-row {
        display: flex;
        align-items: center;
        .header-left {
            display: flex;
            align-items: center;
            .menu-box {
            }
            #menu {
                color: $secondary;
                font-size: rem($large);
                display: flex;
                align-items: center;
                line-height: 1;
                height: 19px;
                font-size: 0;
                @extend %pos-relative;
                outline: none;
                &:focus-visible {
                    outline: -webkit-focus-ring-color auto 1px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    @extend %vh-center;
                    min-width: 50px;
                    min-height: 50px;
                    width: 100%;
                }
                .menulines-row {
                    display: block;
                    width: 24px;
                    font-size: 0;
                }
                .menulines {
                    display: inline-block;
                    width: 14px;
                    height: 2px;
                    background: $grey-900;
                    @extend %pos-relative;
                    margin: 9px 0;
                    @include transition(all, 250, $ease-in-out);
                    opacity: 1;
                    transform-origin: 0.28571rem center;
                    &:before,
                    &:after {
                        display: inline-block;
                        height: 2px;
                        background: $grey-900;
                        position: absolute;
                        left: 0;
                        content: '';
                        @include transition(all, 250, $ease-in-out);
                        transform-origin: 0.28571rem center;
                    }
                    &:before {
                        top: 8px;
                        width: 18px;
                        transform-origin: 0.28571rem center;
                    }
                    &:after {
                        top: -8px;
                        width: 22px;
                        transform-origin: 0.28571rem center;
                    }
                }
                .menu-wrap {
                    margin-left: 17px;
                    margin-top: 2px;
                }
                em {
                    font-style: normal;
                    // margin-left: 17px;
                    display: block;
                    line-height: 1;
                    font-size: rem($large);
                    // margin-top: 2px;
                    @include media('tab-mid') {
                        font-size: $tab-large;
                    }
                }
                &:hover {
                    color: $primary;
                    .menulines {
                        width: 24px;
                        background: $primary;
                        &:before {
                            width: 14px;
                            background: $primary;
                        }
                        &:after {
                            width: 20px;
                            background: $primary;
                        }
                    }
                }
                &.active {
                    .menulines {
                        background: none;
                        &:before, &:after, & {
                            transform-origin: 50% 50%;
                            top: 0;
                        }
                        &:before {
                            transform: rotate3d(0, 0, 1, 45deg);
                            width: 22px;
                        }
                        &:after {
                            transform: rotate3d(0, 0, 1, -45deg);
                            width: 22px;
                        }
                    }
                }
            }
            .header-search {
                width: 411px;
                margin-left: 56px;
                @include media('desk') {
                    width: 300px;
                    margin-left: 32px;
                }
                @include media('tab-mid') {
                    width: 190px;
                    margin-left: 24px;
                }
                @include media('tab') {
                    width: auto;
                    margin: 0;
                    opacity: 1 !important;
                    transform: none !important;
                }
                .search-trigger {
                    display: none;
                    @include media('tab') {
                        height: 64px;
                        width: 64px;
                        display: block;
                        border-radius: 50%;
                        background: $primary;
                        color: $white;
                        position: fixed;
                        right: 24px;
                        bottom: 24px;
                        z-index: 12;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.scroll-search-active, &.nav-search-active {
                            body.home & {
                                pointer-events: auto;
                            }
                        }
                        body.home & {
                            opacity: 0;
                            transition: none;
                            pointer-events: none;
                        }
                        em {
                            display: block;
                            &:before {
                                font-size: rem(32);
                            }
                        }
                    }
                    &.active {
                        em {
                            &:before {
                                @include media('tab') {
                                    content: "\e906";
                                }
                            }
                        }
                    }
                }
            }
        }
        .header-right {
            margin-left: auto;
            display: flex;
            align-items: center;
            .logo-box {
                margin-left: 56px;
                @include media('desk') {
                    margin-left: 40px;
                }
                @include media('tab-mid') {
                    margin-left: 32px;
                }
                #logo {
                    display: block;
                    width: 136px;
                    transition: none;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
        }
    }

    &.active {
        .header-main {
            background-color: $white !important;
        }
    }

    &.nav-active {
        .header-main {
            box-shadow: inset 0 0 0 2px $grey-100 !important;
        }
    }
}
.header-controls {
    display: flex;
    align-items: center;
    @include media('tab') {
        margin-top: 40px;
    }
    > a {
        &:after {
            font-size: rem(18);
        }
    }
    .language-box {
        margin-left: 56px;
        @extend %pos-relative;
        @include media('desk') {
            margin-left: 40px;
        }
        @include media('tab-mid') {
            margin-left: 32px;
        }
        @include media('tab') {
            margin-left: 24px !important;
        }
        .language-trigger {
            color: $secondary;
            position: relative;
            padding-right: 20px;
            @include transition(all, 250, $ease-in-out);
            &:after {
                content: "\e932";
                @extend %icomoon;
                position: absolute;
                right: 0;
                top: 2px;
                font-size: rem(16);
                color: $grey-600;
                @include transition(all, 250, $ease-in-out);
            }
            &:hover, &:active {
                color: $primary;
                &:after {
                    color: $primary;
                }
            }
            &.active {
                color: $primary;
                &:after {
                    transform: rotate(180deg);
                    color: $primary;
                }
            }
        }
        ul {
            position: absolute;
            left: -20px;
            top: calc(100% + 10px);
            width: 202px;
            background: $white;
            padding: 8px 0;
            margin: 0;
            box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.08);
            transform: translateY(-5px);
            opacity: 0;
            visibility: hidden;
            @include transition(all, 250, $ease-in-out);
            li {
                @include base;
                &:last-child {
                    margin-bottom: 0;
                }
                &.active {
                    font-weight: $semibold;
                }
                a {
                    display: block;
                    padding: 6px 20px 4px;
                    &:hover {
                        background-color: $grey-50;
                    }
                }
            }
        }
        &.open {
            ul {
                transform: none;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}